@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|Roboto+Condensed&display=swap');

body{
    margin:0;
    padding:0;
    overflow-x: hidden;
    color: #505050;
    font-family: 'Noto Sans KR', sans-serif;
}

.navbar{
    background-color:rgba(0,0,0,.8);
}

.navbar li{
    text-transform: uppercase;
    font-size:.9rem;
    letter-spacing:.1rem;
} 

.nav-icon {
    font-size:1.3rem;
}

.appercase{
    text-transform: uppercase;
}

.navbar-brand img{
    height: 2rem;
}

.top-img{
    background-image: url(./img/20191010073546_IMG_0919.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color:red;
    width:100%;
    max-width:100%;
    height:100vh;
}

.top-img::after{
    content: '';
    background-color: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}

.caption{
    width:100%;
    max-width:100%;
    position:absolute;
    top:30%;
}

.caption h1{
    font-size:3.5rem;
}

.caption p{
    font-size:2rem;
}
.caption a{
    border-width: medium;
    padding: 5px 30px;
    margin:50px;
}


.about-div{
    height:80vh;
    padding-top:10%;
    padding-bottom:100px;
}
.features-div{
    margin:0;
}

.activity-div{
    position:relative;
    margin:0;
    width:100%;
    height: 100vh;
    background-image: url(./img/coffee-2608864_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}


.material-back::after{
    content: '';
    background-color: rgba(0,0,0,.6);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}

.material-caption{
    position: absolute;
    top:10%
}

/* .material-back ::after {
    content: '';
    background-color: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
} */


.light{
    width: 50px;
    border-top: 4px solid #11a3a8;
    border-radius: 10%;
    margin-bottom:70px;
}

.bgcolor-gray{
    background-color: #808080;
}

.icon{
    font-size: 3em;
    color: #11a3a8;
    margin-top:30px;
    margin-bottom:30px;
}

.icon-md{
    font-size:2.5em;
    color: #11a3a8;
    padding-right:10px;
}
.padding {
    padding: 40px 10px;
}

.h3{
    margin-bottom:20px;
}

.footer{
    bottom:0px;
    height:80px;
    padding-top:20px;
}

.footer a{
    color:#808080;
}

footer img{
    width:1rem;
    height:1rem;
}


@media (min-width: 992px){

.proper-width{
    margin: 0 auto;
    width:80%;
}

}

@media (max-width: 576px) { 
.activity-div{
        height: 110vh;
        }
.proper-width{
    width:100%;
}
.light{
    margin-bottom:30px;
}
.not-padding{
    padding-top:0;
    padding-bottom:0;
    margin-top:0;
}

.navbar-brand{
    font-size:1rem;
}

.navbar-brand img{
    height:1.2rem;
    width:1.2rem;
}
.icon{
    font-size:2.4rem;
}
.icon-md{
    font-size:2rem;
}

.caption h1{
    font-size:3rem;
}

.caption p{
    font-size:1.4rem;
    margin-top:20px;
}
}

/* Extra small(es) devices : portrait phones, less than 576px
    no media query since this is the default in bootstrap

Small(sm) devices : tablets, 768px and up
    @media (min-width: 576px) { ... }

Medium (md) devices : tablets, 768px and up
    @media (min-width: 768px ){ ... }

Large (lg) devices : dextops, 992px and up
    @media (min-width: 992px){...}

Extra large (xl) devices : large desktops, 1200px and up
    @media (min-width: 1200px) {...} */